body {
    background: black;
    color: white;
    text-align: center;
}

#container {
    margin: 0 auto;
}
#game, #scores {
    overflow: hidden;
}
#scores {
    display: none;
}

#scores .current {
    float: left;
}
#scores .best {
    float: right;
}

.square {
    float: left;
    text-align: center;
}

.square.apple {
    background-color: red;
}
.square.empty {
    background-color: black;
}
.square.snake {
    background-color: green;
}
